{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./node_modules/exploratory-search", "."],
        "alias": {
          "@components": ["./node_modules/exploratory-search/src/components", "./components"],
          "@helpers": ["./node_modules/exploratory-search/src/helpers", "./helpers"],
          "@pages": ["./node_modules/exploratory-search/src/pages", "./pages"],
          "@styles": ["./node_modules/exploratory-search/src/styles", "./styles"],
          "~": ["./node_modules/exploratory-search", "."]
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    "inline-react-svg"
  ]
}
